*{
    box-sizing: border-box;
}
body{
    background-color:  #EBEBEB;
    font-family: sans-serif;
}
body, p, h2, h1, ul{
    margin: 0px;
    padding: 0px;
}
header{
    background-color: black;
}
nav{
    width: 1000px;
    margin: 0 auto;
 padding: 20px 0;
}
nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
}
nav a{
    color: white;
    margin-right: 20px;
    text-decoration: none;
    font-size: 19px;
}
nav a:hover{
    text-decoration: underline;
    background-color:  #585858;
}
.wrapper{
    width: 1000px;
    background-color: white;
    display: flex;
    flex-direction: row-reverse;
    margin: 0 auto;
}
aside{
    width: 300px;
    background-color: #4d4d4d;
}
aside p, aside li, aside h1, aside h2 {
    color: white;
}
aside li{
    font-size: 15px;
    margin-bottom: 20px;
    padding-left: 15px;
     list-style-type: none;
}
aside h1{
    font-size: 19px;
    margin-bottom: 20px;
    padding-left: 15px;
}
aside h2{
    font-size: 19px;
    margin-bottom: 20px;
    padding-left: 15px;
}
main{
    width: 700px;
    justify-content: center;
}